.status {
  .loaded {
    padding: 5px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    background: $nephritis;
  }
  .loading {
    padding: 5px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    background: $orange;
  }
  .status-list {
    max-height: calc(100vh - 170px);
    overflow: scroll;
    .item {
      @include transition(200ms);
      border-bottom: 1px solid $clouds;
      padding: 7px 20px;
      &:hover {
        background: $clouds;
      }
      .icon {
        font-size: 20px;
      }
    }
  }
  .ant-pagination {
    padding: 10px 20px;
  }
}